<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p class="flash"><%= notice %><%= alert %></p>
    <section class="top-image">
      <img src="<%= asset_path "Instakun-logo.png"%>">
    </section>
  </div>
</div>
